body {
  background-repeat: no-repeat;
  height: 100vh;
  background: linear-gradient(to bottom, #37a5ff, #7f52ac 60%);
}

.logo {
  text-align: center;
}

.grid-container {
  display: grid;
  place-items: center;
  height: 20vh;
}

.logo img {
  width: 400px;
  max-width: 100%;
  max-height: 100%;
}

.help-ongs {
  text-align: center;
  color: #ffffff;
  font-family: 'Shadows Into Light', cursive;
  font-size: 15px;
}

.logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
}

.logos-container img {
  width: 150px;
  height: auto;
  margin: 15px;
}

.imgpets {
  margin-top: 50px;
}

.janela {
  transition: transform 0.3s;
  box-shadow: 0 4px 10px rgb(244, 244, 244);
}

.janela:hover {
  transform: scale(1.2);
}
